@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

a {
    text-decoration: none;
}

.app {
    background: var(--bg-color);
    color: var(--primary-color);
    transition: background 0.2s ease, color 0.2s ease;
}

.content-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
