/* Общие стили для контейнера переключателя */
.switch {
  position: relative; /* Позиционируем относительно своего родительского элемента */
  display: inline-block; /* Отображаем как блочный элемент, но без переноса на новую строку */
  bottom: 11px;
}

/* Стили для текстовых меток "BN" и "EN" */
.switch > span {
  position: absolute; /* Позиционируем абсолютно внутри родительского контейнера */
  top: 24px; /* Располагаем текст по вертикали */
  pointer-events: none; /* Отключаем события мыши для текста */
  font-family: 'Helvetica', Arial, sans-serif; /* Шрифт */
  font-weight: bold; /* Жирный шрифт */
  font-size: 14px; /* Размер шрифта */
  width: 37%; /* Ширина текста (половина контейнера) */
  text-align: center; /* Выравниваем по центру */
}

/* Стили для текста "BN" при активации переключателя */
input.check-toggle-round-flat:checked ~ .off {
  color: #F36F25; /* Цвет текста "BN" */
}

/* Стили для текста "EN" при активации переключателя */
input.check-toggle-round-flat:checked ~ .on {
  color: #fff; /* Цвет текста "EN" */
}

/* Стили для текста "BN" */
.switch > span.on {
  left: -10; /* Располагаем слева */
  padding-left: 2px; /* Отступ слева */
  color: #ff8042; /* Цвет текста "BN" */
}

/* Стили для текста "EN" */
.switch > span.off {
  right: 0; /* Располагаем справа */
  padding-right: 4px; /* Отступ справа */
  color: #ff8042; /* Цвет текста "EN" */
}

/* Стили для скрытого переключателя */
.check-toggle {
  position: absolute; /* Позиционируем абсолютно */
  margin-left: -9999px; /* Перемещаем вне области видимости */
  visibility: hidden; /* Скрываем элемент */
}

/* Стили для контейнера метки */
.check-toggle + label {
  display: block; /* Отображаем как блочный элемент */
  position: relative; /* Позиционируем относительно своего родительского элемента */
  cursor: pointer; /* Устанавливаем курсор указывающий */
  outline: none; /* Убираем контур фокуса */
  user-select: none; /* Запрещаем выделение текста */
}

/* Стили для внешнего вида переключателя */
input.check-toggle-round-flat + label {
  padding: 2px; /* Внутренний отступ */
  width: 97px; /* Ширина контейнера */
  height: 35px; /* Высота контейнера */
  background-color: #F36F25; /* Цвет фона */
  border-radius: 60px; /* Радиус скругления углов */
}

/* Стили для псевдоэлементов метки */
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block; /* Отображаем как блочный элемент */
  position: absolute; /* Позиционируем абсолютно */
  content: ""; /* Добавляем содержимое */
}

/* Стили для внутреннего круга */
input.check-toggle-round-flat + label:before {
  top: 5px; /* Положение сверху */
  left: 2px; /* Положение слева */
  bottom: 2px; /* Положение снизу */
  right: 2px; /* Положение справа */
  background-color: #F36F25; /* Цвет фона */
  border-radius: 60px; /* Радиус скругления углов */
}

/* Стили для внутреннего индикатора */
input.check-toggle-round-flat + label:after {
  top: 4px; /* Положение сверху */
  left: 4px; /* Положение слева */
  bottom: 4px; /* Положение снизу */
  width: 48px; /* Ширина */
  background-color: #fff; /* Цвет фона */
  border-radius: 52px; /* Радиус скругления углов */
  transition: margin 0.2s; /* Анимация перехода */
}

/* Стили для внутреннего индикатора при активации переключателя */
input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px; /* Смещаем вправо */
}
