:root {
    --bg-color: #f7f7f7;
    --primary-color: #333;
    --button-color: #ff7f50;
    --button-color2: #ff4500;
    --widget-bg-color: #d5a6bd;
}

.app {
    font: var(--font-m);
    min-height: 100vh;
}
