.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

.NavbarLeft {
    display: flex;
}

.NavbarLeftContent {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 300px; /* Устанавливаем максимальную ширину блока */
}

.NavbarRight {
    display: flex;
    align-items: center;
}

.NavbarRightBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    margin-left: 30px;
    border: none;
    transition: background 0.2s ease;
    margin-bottom: 10px;
    background: var(--button-color);
}

.NavbarTitle {
    font-weight: 800;
}

.NavbarSubtitle {
    color: #4b4b4b;
}
